<div class="jumbotron text-center">
    <h1 class="display-3">High Scores Enteries</h1>
    <form action="/postscores" method="POST">
        <input type="text" name="username" id="username">
        <input type="text" name="highscore" id="highscore">
        <input type="submit" value="submit">
    </form>
</div>